<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Status</title>
    <link rel="stylesheet" href="../style/message.css">
</head>
<body>
    <div class="container">

        <h1>Transaction Status</h1>
        <div class="message-box success">
            <strong>Success!</strong>  @ViewBag.Message
        </div>
        


    </div>
</body>
</html>